@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100 font-nunito
}

html, body, #__next {
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}